PL/Connected Services/ServiceReference1/RepartidorService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SLWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SLWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6316/RepartidorService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Repartidor">
    <xs:sequence>
      <xs:element minOccurs="0" name="Correct" type="xs:boolean" />
      <xs:element minOccurs="0" name="Object" nillable="true" type="xs:anyType" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Objects" nillable="true" type="q1:ArrayOfanyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Repartidor" nillable="true" type="tns:Repartidor" />
</xs:schema>